<a href="/">Back to Your Watchlist</a>
<h2>Search Results for "<%= @query %>"</h2>
<ul>
  <% watchlist = cookies['watchlist'] || '{}' %>
  <% watchlist = JSON.parse(watchlist) %>
  <% @results.each do |movie| %>
    <li>
      <h3><%= movie['title'] %></h3>
      <p><strong>Release Date:</strong> <%= movie['release_date'] %></p>
      <p><strong>Overview:</strong> <%= movie['overview'] %></p>
      <% unless watchlist[movie['id'].to_s] %>
        <form action="/add_to_watchlist" method="post" style="display:inline;">
          <input type="hidden" name="movie_id" value="<%= movie['id'] %>">
          <input type="hidden" name="title" value="<%= movie['title'] %>">
          <input type="submit" value="Add to Watchlist">
        </form>
      <% end %>
    </li>
  <% end %>
</ul>
<a href="/">Back to Your Watchlist</a>
